/*
 * OpenDOTT Device Tree
 * SPDX-License-Identifier: MIT
 * 
 * nRF52840 + GC9A01 display + GD25Q128 flash
 * 
 * PIN ASSIGNMENTS (from firmware reverse engineering):
 * - P0.1  = Backlight PWM
 * - P0.2  = Display CS (guess)
 * - P0.3  = Display RESET (guess)  
 * - P0.4  = Display DC (from firmware GPIO spec)
 * - P0.5  = Button (guess)
 * - P0.15 = Display SPI SCK (confirmed)
 * - P0.16 = Display SPI MOSI (confirmed)
 * - P0.17 = QSPI CS (confirmed)
 * - P0.19-23 = QSPI data (confirmed)
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "opendott-pinctrl.dtsi"

/ {
    model = "OpenDOTT Wearable Display";
    compatible = "opendott,opendott";

    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
        zephyr,display = &gc9a01;
    };

    aliases {
        sw0 = &button0;
        spi-flash0 = &gd25q128;
        display0 = &gc9a01;
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            /* Button - best guess P0.5 */
            gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Main Button";
            zephyr,code = <INPUT_KEY_0>;
        };
    };

    /* Display backlight via PWM */
    pwmleds {
        compatible = "pwm-leds";
        backlight: backlight {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Display Backlight";
        };
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* MCUboot bootloader */
        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0 0xc000>;
        };

        /* Application slot 0 */
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0xc000 0x72000>;
        };

        /* Application slot 1 (OTA) */
        slot1_partition: partition@7e000 {
            label = "image-1";
            reg = <0x7e000 0x72000>;
        };

        /* Scratch partition for OTA */
        scratch_partition: partition@f0000 {
            label = "image-scratch";
            reg = <0xf0000 0xa000>;
        };

        /* NVS storage for settings */
        storage_partition: partition@fa000 {
            label = "storage";
            reg = <0xfa000 0x6000>;
        };
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

/* SPI3 for display - uses high-speed SPIM3 @ 32MHz */
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;  /* CS on P0.2 (guess) */

    gc9a01: gc9a01@0 {
        compatible = "galaxycore,gc9x01x";
        reg = <0>;
        spi-max-frequency = <32000000>;
        cmd-data-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;  /* DC on P0.4 (from firmware) */
        reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;      /* RESET on P0.3 (guess) */
        pixel-format = <0>;  /* RGB565 */
        width = <240>;
        height = <240>;
        display-inversion;
    };
};

/* QSPI for external flash - CONFIRMED pins from firmware */
&qspi {
    status = "okay";
    pinctrl-0 = <&qspi_default>;
    pinctrl-1 = <&qspi_sleep>;
    pinctrl-names = "default", "sleep";

    gd25q128: gd25q128@0 {
        compatible = "nordic,qspi-nor";
        reg = <0>;
        sck-frequency = <32000000>;
        jedec-id = [c8 40 18];  /* GD25Q128 JEDEC ID */
        size = <134217728>;      /* 128 Mbit = 16 MB */
        has-dpd;
        t-enter-dpd = <3000>;
        t-exit-dpd = <30000>;
        quad-enable-requirements = "S2B1v1";

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            /* LittleFS partition for GIF images */
            lfs_partition: partition@0 {
                label = "lfs_storage";
                reg = <0x0 0x1000000>;  /* Full 16MB */
            };
        };
    };
};

/* PWM for backlight on P0.1 */
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/* USB CDC for console/debug */
&usbd {
    status = "okay";
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
