/*
 * Copyright (c) 2024 OpenDOTT Project
 * SPDX-License-Identifier: MIT
 * 
 * Device Tree for OpenDOTT (DOTT Wearable Display)
 * Based on nRF52840 + GC9A01 display + GD25Q128 flash
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "opendott-pinctrl.dtsi"

/ {
    model = "OpenDOTT Wearable Display";
    compatible = "opendott,opendott";

    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
        zephyr,display = &gc9a01;
    };

    aliases {
        led0 = &led0;
        sw0 = &button0;
        spi-flash0 = &gd25q128;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            /* Status LED - adjust pin based on actual hardware */
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
            label = "Status LED";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            /* Main button - adjust pin based on actual hardware */
            gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Main Button";
        };
    };

    /* Display backlight PWM */
    pwmleds {
        compatible = "pwm-leds";
        backlight: backlight {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
            label = "Display Backlight";
        };
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* MCUboot bootloader */
        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0 0xc000>;
        };

        /* Application slot 0 */
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0xc000 0x72000>;
        };

        /* Application slot 1 (OTA) */
        slot1_partition: partition@7e000 {
            label = "image-1";
            reg = <0x7e000 0x72000>;
        };

        /* Scratch partition for OTA */
        scratch_partition: partition@f0000 {
            label = "image-scratch";
            reg = <0xf0000 0xa000>;
        };

        /* NVS storage for settings */
        storage_partition: partition@fa000 {
            label = "storage";
            reg = <0xfa000 0x6000>;
        };
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

/* SPI for display */
&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

    gc9a01: gc9a01@0 {
        compatible = "galaxycore,gc9x01x";
        reg = <0>;
        spi-max-frequency = <32000000>;
        cmd-data-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
        pixel-format = <0>;  /* RGB565 */
        width = <240>;
        height = <240>;
        display-inversion;
    };
};

/* QSPI for external flash */
&qspi {
    status = "okay";
    pinctrl-0 = <&qspi_default>;
    pinctrl-1 = <&qspi_sleep>;
    pinctrl-names = "default", "sleep";

    gd25q128: gd25q128@0 {
        compatible = "nordic,qspi-nor";
        reg = <0>;
        sck-frequency = <32000000>;
        jedec-id = [c8 40 18];  /* GD25Q128 JEDEC ID */
        size = <134217728>;      /* 128 Mbit = 16 MB */
        has-dpd;
        t-enter-dpd = <3000>;
        t-exit-dpd = <30000>;
        quad-enable-requirements = "S2B1v1";

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            /* LittleFS partition for images */
            lfs_partition: partition@0 {
                label = "lfs_storage";
                reg = <0x0 0x1000000>;  /* Full 16MB for images */
            };
        };
    };
};

/* PWM for backlight */
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/* USB */
&usbd {
    status = "okay";

    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
